version: "3.9"

services:

  nginx:
    image: nginx:latest
    container_name: nginx_laravel
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html/servico-laravel
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app-network

  php:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    container_name: php_laravel
    volumes:
      - ./src:/var/www
    environment:
      - PHP_FPM_LISTEN=0.0.0.0:9000
    networks:
      - app-network
    restart: unless-stopped
    user: "${USER_ID:-1000}:${GROUP_ID:-1000}"

  postgres:
    image: postgres:16
    container_name: postgres_laravel
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    command: >
      postgres 
      -c listen_addresses='*'
      -c max_connections=100
    networks:
      - app-network

networks:
  app-network:

volumes:
  postgres-data:

